[package]
name = "codecrafters-kafka"
version = "0.1.0"
authors = ["Codecrafters <hello@codecrafters.io>"]
edition = "2021"
rust-version = "1.80"

[dependencies]
bytes = "1.10.1"
kafka-protocol = "0.16.0"
anyhow = "1.0.100"                             # error handling
